.header {
	position: absolute;
	width: 59.5%;
	text-align: center;
	border: 2px double #000000; 
    background-color:#ccaa66;    
    text-align:center;
	
}
.nav {
	float: left;
	margin-top: 85px;
	width: 10%;
	height: 248px;
	background-color: #E8D882;
	margin-bottom: 10px;
	border-left: 2px double #000000;
}

.nav ul{
	list-style:none;
}

.main {
	position: relative;
	float: left;
	margin-top: 85px;
	width: 50.1%;
	height: 248px;
	background-color: #F4EBC3;
	border-right: 2px double #000000;
	
}

img {
	float:right;
}

.footer {
	position: absolute;
	height: 50px;
	background-color: #ccaa66;
	text-align: center;
    padding: 20px 0 20px 0; 
    font-size: xx-small;
    font-style: italic;
	border: 2px double #000000;
    clear: both;	
	width: 59.5%;
	margin-top: 333px;
}
